* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Arial;
  background: #F4F6F9;
}

/* HEADER */
.header {
  background: #0B3D91;
  text-align: center;
  padding: 15px 10px;
}

.logo {
  width: 180px;
}

.title {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 5px;
  font-weight: bold;
}

/* CONTENIDO */
.container {
  width: 100%;
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

/* TITULO */
h2 {
  text-align: center;
  color: #0B3D91;
  margin-bottom: 25px;
}

/* GRID RESPONSIVE */
.grid {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* BOTONES */
button {
  flex: 1;
  padding: 18px;
  font-size: 16px;
  border-radius: 14px;
  border: none;
  background: #00A651;
  color: white;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

button:active {
  transform: scale(0.97);
}

/* RESPONSIVE EXTRA */
@media (max-width: 400px) {
  .grid {
    flex-direction: column;
  }
}